<div class="row text-center justify-content-center">
  <div class="col-md-8">
    <br>
    <div class="box">
      <h1 class="mb-4">Mis Reservas</h1>

      <% if @reservas.any? %>
        <table class="table">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Fecha de Reserva</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <% @reservas.each do |reserva| %>
              <tr>
                <td><%= reserva.producto.nombre %></td>
                <td><%= reserva.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
                <td><%= reserva.estado %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No tienes reservas.</p>
      <% end %>

      

    </div>
  </div>
</div>

