<div class="row text-center justify-content-center">
<div class="col">
<br>
  <div class="box">
  <h3>Preguntas Frecuentes</h3></div>
  <br>
</div>
</div>
<div class="col">
  <div class="box">
  <ul>
  <li> 1. ¿Cuáles son los métodos de pago aceptados?
  <p> Aceptamos tarjetas de crédito/débito (Visa, Mastercard, American Express) y pagos mediante plataformas seguras como PayPal.</p>
  <li> 2. ¿Cuánto tiempo tarda en llegar mi pedido?
  <p> El tiempo de entrega puede variar según tu ubicación, pero generalmente nuestros envíos llegan en un plazo de 3 a 7 días hábiles. </p>
  <li> 3. ¿Ofrecen garantía en los productos?
  <p> Sí, todos nuestros productos cuentan con garantía. Consulta los detalles de cada producto para conocer la duración de la garantía específica. </p>
  <li> 4. ¿Puedo devolver un producto si no estoy satisfecho?
  <p>  Sí, aceptamos devoluciones dentro de los 30 días posteriores a la compra, siempre y cuando el producto esté en su estado original y se cumplan nuestras políticas de devolución. </p>
  <li> 5. ¿Realizan envíos internacionales?
  <p> Sí, realizamos envíos internacionales. Sin embargo, ten en cuenta que pueden aplicar cargos adicionales por aduanas e impuestos, dependiendo de tu país de residencia.</p>
  <li> 6. ¿Cómo puedo generar una reserva?
  <p> Debes crearte un usuario, y tras ello te saldra la opción reservar o cancelar una solicitud.</p>
  <li> 7. ¿Cómo puedo contactarlos para obtener más información?
  <p> Puedes contactarnos a través de nuestra página de contacto en nuestro sitio web o enviarnos un correo electrónico a nuestra dirección de contacto. Estaremos encantados de ayudarte con cualquier pregunta que tengas.</p>
  </ul></div>
</div>
</div>
</div>
</main>